<div class="row">
    <div class="col-md-4">
        <span class="icon-first-nav fake-link" (click)="gotoFirstChapter()" *ngIf="!isFirstChapter"></span>
    </div>
    <div class="col-md-4">
        <span class="icon-previous2-nav fake-link" (click)="gotoPreviousChapter()" *ngIf="!isFirstChapter"></span>
    </div>
    <div class="col-md-3">
        <span class="icon-next2-nav fake-link" (click)="gotoNextChapter()" *ngIf="!isLastChapter"></span>
    </div>
    <div class="col-md-1">
        <span class="icon-last-nav fake-link" (click)="gotoLastChapter()" *ngIf="!isLastChapter"></span>
    </div>
</div>