.scrollable {
    overflow-y: auto;
}

[class^="toc-"], [class*=" toc-"] {
    font-family: 'icomoonTOC' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .toc-list-numbered-nav:before {
    content: "\e9b9";
  }

  .list-header {
    font-size: 3em;
    color: #fff;
    padding-left: 2em;
  }
  
  .list-container {
    padding-left: 2em;
    text-indent: -2em;
  }

  .menu-text {
    font-size: 1.5em;
    font-family: garamondregular;
    padding-left: 2em;
    color: #fff;
  }
  .menu-text-selected {
    font-size: 1.5em;
    font-family: garamondregular;
    padding-left: 2em;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00ff80, 0 0 20px #00ff80, 0 0 20px #00ff80, 0 0 20px #00ff80, 0 0 75px #00ff80;
  }
  .dense-background {
    opacity: 0.9;
  }
  .justify-text {
    padding-left: 55px;
    text-indent: -70px;
  }
  .toc-text {
    line-height: 2em;
    margin-top: 1em;
  }
