<div class="list-container">
    <div class="row">
        <div class="col-md-12 brand-background">
            <div class="list-header white-text pointer" [title]="tocTitle" [ngClass]="tocHeader" (click)="toggleTOC()">
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div *ngIf="showTOC">
        <div class="row list-bg" *ngFor="let chapter of chapters; let i = index">
            <div class="col-md-12">
                <div (click)="getChapterIndex(i)">
                    <span class="pointer">{{i}}.&nbsp;{{ chapter.chapterName }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
